<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/styles.css">
    <title>Prepare for a tasty event</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand mx-auto" href="#">Burger Muncher</a>
        </div>
</nav>
<main class="container-fluid">
        <div class="row">
            <aside class="container-fluid col-4 bg-dark rounded mt-2">
                <h2 class="text-center text-white">Not Yet Devoured</h2>
                <ul>
                    
                </ul>
            </aside>
           
            <aside class="container-fluid col-4 bg-dark rounded mt-2">
                <h2 class="text-center text-white">Devoured!</h2>
                <ul>
                    
                </ul>
            </aside>
        </div>
        <div class="row">
            <form class="container col-3">
                <h3 class="text-center text-white">Enter a Burger to Devour</h3>
                <div class="form-group">
                    <textarea class="form-control" id="newBurger" rows="4" placeholder="Enter Burger Here"></textarea>
                </div>
                <div class="container-fluid col-5">
                <br><br><br>
               <button type="button" class="btn btn-success">EAT!</button>
            </div>
            </form>
        </div>
    </main>
    </body>